a.button {
    font-family: 'Open Sans Condensed';
    color: ivory;
    text-decoration: none;
    float: left;
    
}

a.button:visited{
    color: ivory;
}
.button{
    font-family: 'Open Sans Condensed';
    display: block;
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 26px;
    padding: 5px;
    background-color: rgb(59, 60, 73);
    margin-right: 15px;
}
body {
    background: rgb(38, 40, 53);
    background: linear-gradient(60deg, rgba(35,40,50,1) 20%, rgba(20,60,80,1) 45%, rgba(35,40,50,1) 90%); */
}
#top {
    width: auto;
    height: 80px;
    background-color: lightgray;
    padding: 5px;
    text-align: center;
}
#nav {
    width: auto;
    padding: 10px;
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }

